@model List<Category>;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>
<body>
    <div class="card shadow border-0 mt-4" style="border-radius: 15px">
        <div class="card-header m-lg-0 py-3" style="border-radius: 15px">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2" style="font-weight: bold">
                        CATEGORIES
                    </h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4" style="border-radius: 30px ">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-light">
                        <i class="bi bi-plus-circle"></i> Create New Category
                    </a>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped rounded">
                    <thead>
                        <tr>
                            <th style="font-weight: bold; font-size: 20px; text-align: center">CATEGORY</th>
                            <th style="font-weight: bold; font-size: 20px; text-align: center">DISPLAY ORDER</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.OrderBy(t => t.DisplayOrder))
                        {
                            <tr>
                                <td style="font-weight: bold">@category.Name</td>
                                <td style="font-weight: bold; text-align: right" >@category.DisplayOrder</td>
                                <td style="text-align: center">
                                    <div class="w-75 btn-group" role="group" >
                                        <a asp-controller="Category" asp-action="Edit" asp-route-categoryId="@category.Id" class="btn btn-light mx-2">
                                            <i class="bi bi-pencil-square"></i> Edit
                                        </a>
                                        <a asp-controller="Category" asp-action="Delete" asp-route-categoryId="@category.Id" class="btn btn-danger mx-2">
                                            <i class="bi bi-trash-fill"></i> Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
